---
import Layout from '../layouts/Layout.astro';
import ProductGallery from '../components/product-gallery.astro';
---

<Layout>
  <div class="overflow-x-auto p-4">
    <h1 class="text-6xl text-center">Choose your next life companion</h1>
    <ProductGallery title = "This is my gallary" />
  </div>
</Layout>
