---
import Layout from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

const trialData = await getEntry('products', 'trial');
---

<Layout>
<h2 class = "hello-world">Have not fetched</h2>
<p> {trialData?.data.name} </p>
</Layout>

<script>
const title = document.querySelector<HTMLHeadingElement>(".hello-world")!;
fetch("http://localhost:5191/api/v1/Hello")
.then(result => result.text()) 	
.then(text => title.textContent = text)
</script>
