---
export interface Props{
    product: {
        name: string;
        price: string;
        description: string;
        image: string;
    }
}

const {product} = Astro.props;
---

<div class="card bg-base-100 w-96 shadow-xl">
    <figure>
      <img class = "w-full h-60 object-cover"
        src={product.image}
      alt="Animals" />
    </figure>
    <div class="card-body">
      <p>{product.description}</p>
      <p>{product.price}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Buy Now</button>
      </div>
    </div>
  </div>