---
export interface Props{
    product: {
        name: string;
        price: number;
        description: string;
        image: string;
    }
}

const {product} = Astro.props;
---

<article class = "mg-2 p-2">
    <h3>{product.name}</h3>  
</article>