

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width" /> -->
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: clamp(95%, 100%, 1200px);
		height: 100%;
		max-width: 1200;
	}
</style>
