---
interface Props{
    title: string,

}
import { getCollection } from 'astro:content';
import GalleryCard from './product-gallery/gallery-card.astro';

const allProducts = await getCollection('products');

const {title} = Astro.props;
---
<section class = "m-10 ">
<article class ="grid grid-cols-3 m-7 gap-4">
    {allProducts.map((product) => (
        <GalleryCard product={{ name: product.data.name, image: product.data.image, description: product.data.description, price: product.data.price }} />
    ))}
</article>
</section>


